﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eMemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.0.0-beta3-web/css/all.min.css" />
    <script src="~/lib/fontawesome-free-6.0.0-beta3-web/js/all.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    @* <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" /> *@
    <link rel="stylesheet" href="~/lib/print/print.min.css" />
    <script src="~/lib/print/print.min.js"></script>
    <script src='~/lib/print/pdf-lib.min.js'></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    @* <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css"> *@
    <link rel="stylesheet" type="text/css" href="~/lib/dataTables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/dataTables/css/select.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
        integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    @* <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script> *@
    <script src="~/lib/dataTables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/dataTables/js/dataTables.select.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link href="~/lib/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker-thai.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.th.js"></script>


    <script src="~/lib/moment/moment.min.js"></script>
    <style>
        .text-input {
            height: 33px !important;
            cursor: pointer;
        }

        p {
            margin-top: 1rem;
            margin-bottom: 0.2rem;
        }

        .card-header,
        .modal-header {
            background-color: #FAEDC7 !important;
        }

        .card-header,
        .modal-header h5 {
            color: #b92b00 !important;
        }

        table.dataTable thead {
            background-color: #CAEEBE !important;
        }

        .dataTables_wrapper {
            width: 100% !important
        }



        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

        .openbtn:hover {
            background-color: #444;
        }

        #main {
            transition: margin-left .5s;
            padding: 20px;
        }

        .menuMain {
            font-size: 23px !important;
        }

        .subMenu {
            font-size: large !important;
        }

        div.sticky {
            transition: 0.5s;
            position: absolute;
            top: 30px;
            left: 160px;
            font-size: 18px;
        }

        .topright {
            position: absolute;
            top: 30px;
            right: 40px;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <div class="sticky" style="font-weight:bold" id="profile">
        <span class="navbar-brand text-success font-weight-bold">eMemo</span>
        <span>Welcome :</span>
        <span class="col-12" id="userName">
        </span>
        <span class="col-12">
            Office : Head Office
        </span>
        <span class="col-12 text-primary">
            Date : @(DateTime.Now.ToString("dd-MM-yyyy",new System.Globalization.CultureInfo("th-TH")))
        </span>

    </div>
    <div class="topright">
        <a id="logout" style="cursor:pointer" class="btn btn-outline-danger my-2 my-sm-0">
            Logout
            <ion-icon style="margin-bottom:-2px;" name="log-out-outline" class="text-danger"></ion-icon>
        </a>
    </div>

    <div id="mySidebar" class="sidebar" style=" padding-bottom: 50px;">

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


        <a class="menuMain" asp-controller="Home" asp-action="Index" id="menuHome" hidden>Home</a>
        <a class="menuMain" asp-controller="Preparation" asp-action="Index" id="menuPreparation" hidden>e-Memo
            Preparation</a>
        <a class="menuMain" asp-controller="Inquiry" asp-action="Index" id="menuInquiry" hidden>e-Memo Inquiry</a>
        <a class="menuMain dropdown-toggle" href="#masterSubmenu" data-toggle="collapse" aria-expanded="false"
            id="menuMaster" hidden>
            Master
            Setup
        </a>
        <ul class="collapse list-unstyled" id="masterSubmenu" style="padding-left:20px">
            <li>
                <a class="subMenu" asp-controller="MasterSetup" asp-action="MemoMapping">Memo Mapping Master Setup</a>
                <a class="subMenu" asp-controller="MasterSetup" asp-action="RuleManagement">
                    Rule Management Master
                    Setup
                </a>
                <a class="subMenu" asp-controller="MasterSetup" asp-action="MailManagement">E-Mail Management</a>
            </li>
        </ul>
        <a class="menuMain dropdown-toggle" href="#printSubmenu" data-toggle="collapse" aria-expanded="false"
            id="menuReports" hidden>Reports</a>
        <ul class="collapse list-unstyled" id="printSubmenu" style="padding-left:20px">
            <li>
                <a class="subMenu" asp-controller="PrintReport" asp-action="DaysAfterMemoPrintedReport">
                    15 Days After
                    Memo Printed Report
                </a>
                <a class="subMenu" asp-controller="PrintReport" asp-action="SendingMemoReport">Sending Memo Report</a>
                <a class="subMenu" asp-controller="PrintReport" asp-action="PendingReport">Pending Report</a>
                <a class="subMenu" asp-controller="PrintReport" asp-action="PendingSummaryReport">
                    Pending Summary
                    Report
                </a>


            </li>
        </ul>
        <a asp-controller="PrintReport" asp-action="PrintMemoLetterReport" id="memuPrintMemoLetterReport" hidden>Print
            Memo Letter</a>
    </div>

    <div id="main" style="font-size:0.8rem!important;">
        <button class="openbtn" onclick="openNav()">&#9776; </button>

        <div style=" padding-top: 50px;">
            @RenderBody()
        </div>

    </div>



    @RenderSection("Scripts", required: false)
</body>

</html>
<script>
    var authKey = localStorage.getItem("auth.token");

    $.ajaxSetup({
        beforeSend: function (xhr) {
            xhr.setRequestHeader('AuthorizationKey', authKey);
        },
        error: function (jqXHR, textStatus, errorThrown) {
            if (jqXHR.status == 401) {
                localStorage.clear();
                window.location.href = "https://smartlife.segroup.co.th/portalnew/Authen/Login"
            }
            else {
                console.log(errorThrown);
                console.log(jqXHR);
                console.log(textStatus);
            }
        }
    });
    $(document).ready(function () {
        var userData = localStorage.getItem("userData");
        if (userData == null) {
            if (authKey != null && authKey != "") {
                $.ajax({
                    type: "GET",
                    url: apiUrl + '/Authorization/VerifyToken',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        localStorage.setItem("userData", JSON.stringify(data));
                        document.getElementById("userName").textContent = data.userItem.username;
                        renderMenu();
                    }
                });
            }
            else {
                localStorage.clear();
                window.location.href = "https://smartlife.segroup.co.th/portalnew/Authen/Login"
            }
        }
        else {
            var userObject = JSON.parse(userData);
            document.getElementById("userName").textContent = userObject.userItem.username;
            renderMenu();
        }

        window.setInterval(function () {
            localStorage.removeItem("userData");
        }, 600000);
    });

    const apiUrl = @Json.Serialize(@Configuration.GetSection("PotalUrls").GetSection("apiUrl").Value);

    $('#logout').on('click', function (e) {
        var authKey = localStorage.getItem("auth.token");
        $.ajax({
            type: "POST",
            url: "https://smartlife-proxy.segroup.co.th/portalecbrapi/api/account/logout",
            contentType: "application/json; charset=utf-8",
            headers: {
                'Authorization': "Bearer " + authKey
            },
            success: function (data) {
                localStorage.clear();
                window.location.href = "https://smartlife.segroup.co.th/portalnew/Authen/Login"
            }
        });

    });

    function openNav() {
        document.getElementById("mySidebar").style.width = "300px";
        document.getElementById("main").style.marginLeft = "300px";
        document.getElementById("profile").style.marginLeft = "300px";
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("profile").style.marginLeft = "160px";
    }
    function renderMenu() {
        var menuData = JSON.parse(localStorage.getItem("userData"));
        if (menuData.userItem != null && menuData.userItem.users != null && menuData.userItem.users.applicationMenu != null) {

            var menuDataRole = menuData.userItem.users.applicationMenu;
            var roleName = menuData.userItem.users.roleName;
            var roleName = menuData.userItem.users.roleName;

            if (roleName == "Administrator") {
                localStorage.setItem("isAdministrator", true);
            } else {
                localStorage.setItem("isAdministrator", false);
            }


            for (var i = 0; i < menuDataRole.length; i++) {
                var inRole = menuDataRole[i].mainName;

                if (inRole == "Home") {
                    $("#menuHome").attr("hidden", false);
                } else if (inRole == "e-Memo Preparation") {
                    $("#menuPreparation").attr("hidden", false);
                } else if (inRole == "e-Memo Inquiry") {
                    $("#menuInquiry").attr("hidden", false);
                }
                else if (inRole == "Master Setup") {
                    $("#menuMaster").attr("hidden", false);
                }
                else if (inRole == "Reports") {
                    $("#menuReports").attr("hidden", false);
                }
                else if (inRole == "Print Memo Letter") {
                    $("#memuPrintMemoLetterReport").attr("hidden", false);
                }


            }
        }
    }
</script>