﻿@{
    ViewData["Title"] = "15 Days After Memo Printed Report";
}
<link rel="stylesheet" href="~/css/Shared.css" />
<div style="margin:20px;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">15 Days After Memo Printed Report</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col d-flex flex-column text-primary label-text">
                            <p>Memo Printed Date <span class="text-danger">*</span></p>
                            <div class="input-group">
                                <input id="beginDateMemoPrinted" placeholder="dd/mm/yyyy" type="text"
                                    class="form-control text-input datepicker" autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar-alt fa-fw"></i></span>
                                </div>
                            </div>

                        </div>
                        <div class="col d-flex flex-column text-primary label-text">
                            <p>To Memo Printed Date</p>
                            <div class="input-group">
                                <input id="endDateMemoPrinted" placeholder="dd/mm/yyyy" type="text"
                                    class="form-control text-input datepicker" autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar-alt fa-fw"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 d-flex flex-column text-primary label-text">
                            <p>Aging</p>
                            <select id="ddlCondition" class="custom-select custom-select-sm">
                                <option value="true" selected="">Please Select</option>
                                <option value="<"><</option>
                                <option value=">">></option>
                                <option value="=">=</option>
                            </select>
                        </div>
                         <div class="col-1 d-flex flex-column text-primary label-text">
                             <p>Days</p>
                           <input type="number" min="0" value="0" class="form-control text-input" id="txtPrintedDay" oninput="this.value = Math.abs(this.value)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <div>
                <button id="btnSearchDayAfterMemoPrintedPreview" class="btn btn-primary" style="margin:5px"
                    type="button">Preview Excel</button>
                <button id="btnClear" class="btn btn-secondary" style="margin:5px" type="button">Clear</button>
            </div>
        </div>
    </div>
    <div id="divSearchResult" class="card d-none" style="margin-top:50px">
        <div class="card-header">
            <h5 class="mb-0">Search Results of 15 Days After Memo Printed Report</h5>
        </div>
        <div class="card-body overflow-auto" style="height: 250px;">
        </div>
        <div id="divFooterButton" class="card-footer text-center">
            <button id="btnExportExcel" style="margin:5px" class="btn btn-info" type="button">Export Excel</button>
            <button id="btnPrint" style="margin:5px" class="btn btn-primary" type="button">Print</button>
        </div>
    </div>
</div>
<script src="~/jspage/module9_Share.js"></script>
<script src="~/jspage/module9_DaysAfterMemoPrintedReport.js"></script>