﻿@{
    ViewData["Title"] = "Pending Report";
}

<link rel="stylesheet" href="~/css/Shared.css" />

<div style="margin:20px;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Pending Report</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-6 d-flex flex-column text-primary label-text">
                            <p>As of Date <span class="text-danger">*</span></p>
                            <div class="input-group">
                                <input id="asOfDate" placeholder="dd/mm/yyyy" type="text"
                                    class="form-control text-input datepicker" autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar-alt fa-fw"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 d-flex flex-column text-primary label-text">
                            <p>Product Category</p>
                            <select id="ddlProductCategory" class="custom-select custom-select-sm">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <div>
                <button id="btnSearchPendingPreview" class="btn btn-primary" style="margin:5px" type="button">Preview
                    Excel</button>
                <button id="btnClear" class="btn btn-secondary" style="margin:5px" type="button">Clear</button>
            </div>
        </div>
    </div>
    <div id="divSearchResult" class="card d-none" style="margin-top:50px">
        <div class="card-header">
            <h5 class="mb-0">Search Results of Pending Report</h5>
        </div>
        <div class="card-body overflow-auto" style="height: 250px;">
        </div>
        <div id="divFooterButton" class="card-footer text-center">
            <button id="btnExportExcel" style="margin:5px" class="btn btn-info" type="button">Export Excel</button>
            <button id="btnPrint" style="margin:5px" class="btn btn-primary" type="button">Print</button>
        </div>
    </div>
</div>
<script src="~/jspage/module9_Share.js"></script>
<script src="~/jspage/module9_PendingReport.js"></script>