﻿@{
    ViewData["Title"] = "eMemo Print Memo Letter";
}

<link rel="stylesheet" href="~/css/Shared.css" />
<style>
    .hide_column {
        display: none;
    }

    .icon-pointer {
        cursor: pointer;
    }
</style>

<div style="margin:20px;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Search Criteria of Print Memo Letter</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="margin-bottom:15px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Transaction Date</p>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-input datepicker"
                                            placeholder="dd/mm/yyyy" id="dtTransactionFrom" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i
                                                    class="fa fa-calendar-alt fa-fw"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>To Transaction Date</p>
                                    <div class="input-group">
                                        <input type="text" class="form-control text-input datepicker"
                                            placeholder="dd/mm/yyyy" id="dtTransactionTo" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i
                                                    class="fa fa-calendar-alt fa-fw"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Product Category</p>
                                    <select class="custom-select custom-select-sm" id="ddlProductCat">
                                    </select>
                                </div>
                                <div class="col d-flex flex-column text-primary label-text"></div>

                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Policy No.</p><input id="txtPolicyNoFrom" type="text"
                                        class="form-control text-input">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>To Policy No.</p><input id="txtPolicyNoTo" type="text"
                                        class="form-control text-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Proposal No.</p><input type="text" id="txtProposalNoFrom"
                                        class="form-control text-input">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>To Proposal No.</p><input type="text" id="txtProposalNoTo"
                                        class="form-control text-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-flex flex-column text-primary label-text">
                                    <p>eBao Document No.</p><input id="txteBaoDocFrom" type="text"
                                        class="form-control text-input">
                                </div>
                                <div class="col-6 d-flex flex-column text-primary label-text">
                                    <p>To eBao Document No.</p><input id="txteBaoDocTo" type="text"
                                        class="form-control text-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>eBao Memo Status</p>
                                    <select class="custom-select custom-select-sm" id="ddleBaoStatus">
                                    </select>
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Sending</p>
                                    <select class="custom-select custom-select-sm" id="ddlDelivery">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="margin-bottom:15px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>ID</p><input id="txtId" type="text" class="form-control text-input" id="txtIden">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Party ID</p><input id="txtPartyId" type="text" class="form-control text-input"
                                        id="txtPartyIden">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Customer Name</p>
                                    <input type="text" class="form-control text-input" id="txtCustomer">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Customer Surname</p><input type="text" class="form-control text-input"
                                        id="txtCustomerSurname">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6  text-primary label-text input-icons">
                                    <p>Agent Code</p>
                                    @* <ion-icon class="icon ion-ios-search-strong text-secondary icon-pointer"
                                        name="search" id="icoCode"></ion-icon> *@
                                    <input type="text" class="form-control text-input" id="txtAgentCode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Agent Name</p><input type="text" class="form-control text-input"
                                        id="txtAgentName">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Agent Surname</p><input type="text" class="form-control text-input"
                                        id="txtAgentSurname">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text input-icons">
                                    <p>Unit</p>
                                    <a data-toggle="modal" data-target="#modalUnit">
                                        <ion-icon style="cursor:pointer"
                                            class="icon ion-ios-search-strong text-secondary" name="search">
                                        </ion-icon>
                                    </a>
                                    <input type="text" class="form-control text-input" id="txtUnit">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text input-icons">
                                    <p>Group</p>
                                    <a data-toggle="modal" data-target="#modalGroup">
                                        <ion-icon style="cursor:pointer"
                                            class="icon ion-ios-search-strong text-secondary" name="search">
                                        </ion-icon>
                                    </a>
                                    <input type="text" class="form-control text-input" id="txtGroup">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <div>
                <button class="btn btn-primary" style="margin:5px" type="button" id="btnSearch">Search</button>
                <button class="btn btn-secondary" style="margin:5px" type="button" id="btnReset">Reset</button>
            </div>
        </div>
    </div>

    <div class="card" style="margin-top:50px">
        <div class="card-header">
            <h5 class="mb-0">Search Results of Print Memo Letter Screen : <label id="rowtotal">0</label> Items found
            </h5>
        </div>
        <div class="card-body">
            <table class="table table-hover dataTable" id="tblDetails">
                <thead>
                    <tr>
                        <th style="text-align:center"><input type="checkbox" name="select_all" value="1"
                                id="selectallprintmemo"></th>
                        <th></th>
                        <th>Transaction Date</th>
                        <th>eBao Document No</th>
                        <th>Policy No.</th>
                        <th>Proposal No.</th>
                        <th>Policy Name</th>
                        <th>Agent Code</th>
                        <th>Agent Name</th>
                        <th>Unit</th>
                        <th>Group</th>
                        <th>PDF File</th>
                        <th>eBao Memo Status</th>
                        <th>Sending</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer text-center">
            <button style="margin:5px" class="btn btn-info" type="button" id="btnPrintMemoLetterOnly">Print Memo Letter
                Only</button>
            <button style="margin:5px" class="btn btn-primary" type="button" id="btnPrint">Print</button>
            <button style="margin:5px" class="btn btn-secondary" type="button" id="btnResetTable">Reset</button>
        </div>

    </div>
</div>

<div class="modal fade" id="modalUnit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover " id="tblUnit">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGroup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover " id="tblGroup">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/jspage/PrintMemoLetter.js"></script>
@* <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script> *@
