﻿@{
    ViewData["Title"] = "eMemo Preparation";
}

<link rel="stylesheet" href="~/css/Shared.css" />
<style>
    table.dataTable thead th {
        vertical-align: top;
    }

    table.dataTable tbody td {
        vertical-align: top;
    }
</style>

<div style="margin:20px;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Search Criteria of Preparation Memo Screen</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="margin-bottom:15px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Transaction Date</p>
                                    <div class="input-group">
                                        <input type="text" placeholder="dd/mm/yyyy"
                                            class="form-control text-input datepicker" autocomplete="off"
                                            id="txtDateForm">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i
                                                    class="fa fa-calendar-alt fa-fw"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>To Transaction Date</p>
                                    <div class="input-group">
                                        <input type="text" placeholder="dd/mm/yyyy"
                                            class="form-control text-input datepicker" autocomplete="off"
                                            id="txtDateTo">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i
                                                    class="fa fa-calendar-alt fa-fw"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Policy No.</p>
                                    <input type="text" class="form-control text-input" id="txtPolicyNo">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Proposal No.</p>
                                    <input type="text" class="form-control text-input" id="txtProposalNo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-flex flex-column text-primary label-text">
                                    <p>eBao Document No.</p>
                                    <input type="text" class="form-control text-input" id="txtDocNo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>eBao Memo Status</p>
                                    <select class="custom-select custom-select-sm ddlMemoStatus" id="ddlMemoStatus">
                                        
                                    </select>
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Delivery Status</p>
                                    <select class="custom-select custom-select-sm ddlDeliveryStatus"
                                        id="ddlDeliveryStatus">
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-flex flex-column text-primary label-text">
                                    <p>Delivery Round</p>
                                    <select class="custom-select custom-select-sm" id="ddlDeliveryRound">
                                        <option value="1" selected="">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="margin-bottom:15px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>ID</p>
                                    <input type="text" class="form-control text-input" id="txtID">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Party ID</p>
                                    <input type="text" class="form-control text-input" id="txtPartyID">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Customer Name</p>
                                    <input type="text" class="form-control text-input" id="txtCustomerName">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Customer Surname</p><input type="text" class="form-control text-input"
                                        id="txtCustomerSurname">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6  text-primary label-text input-icons">
                                    <p>Agent Code</p>
                                    @*<i class="icon ion-ios-search-strong text-secondary"></i>*@
                                    <input type="text" class="form-control text-input" id="txtAgentCode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Agent Name</p>
                                    <input type="text" class="form-control text-input" id="txtAgentName">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Agent Surname</p>
                                    <input type="text" class="form-control text-input" id="txtAgentSurname">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text input-icons">
                                    <p>Unit</p>
                                    <a data-toggle="modal" data-target="#modalUnit">
                                        <ion-icon style="cursor:pointer"
                                            class="icon ion-ios-search-strong text-secondary" name="search">
                                        </ion-icon>
                                    </a>

                                    <input type="text" class="form-control text-input" id="txtAgentUnit">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text input-icons">
                                    <p>Group</p>
                                    <a data-toggle="modal" data-target="#modalGroup">
                                        <ion-icon style="cursor:pointer"
                                            class="icon ion-ios-search-strong text-secondary" name="search">
                                        </ion-icon>
                                    </a>
                                    <input type="text" class="form-control text-input" id="txtAgentGroup">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <div>
                <button class="btn btn-primary" style="margin:5px" type="button" 
                    id="btnSearchTransaction">Search</button>
                <button class="btn btn-secondary" style="margin:5px" type="button" 
                    id="btnResetMain">Reset</button>
            </div>
        </div>
    </div>
    <div class="text-end d-flex justify-content-lg-end">
        <a class="text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" id="linkRetrieve">
            <ion-icon style="margin-bottom:-3px" name="repeat-outline"></ion-icon>Retrieve
        </a>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Search Results of Preparation Memo Screen : <label id="rowtotal">0</label> Items found</h5>
        </div>
        <div class="card-body">


            <table class="table table-hover dataTable" id="tblDetails">
                <thead>
                    <tr>
                        <th style="width:20px"><input style="margin-left:4px" type="checkbox" name="select_all"
                                value="1" id="selectallpreparation"></th>
                        <th></th>
                        <th class="text-center">Transaction Date</th>
                        <th class="text-center">eBao Document No.</th>
                        <th class="text-center">Policy No.</th>
                        <th class="text-center">Proposal No.</th>
                        <th class="text-center">Policy Name</th>
                        <th class="text-center">Agent Code</th>
                        <th class="text-center">Agent Name</th>
                        <th class="text-center">Unit</th>
                        <th class="text-center">Group</th>
                        <th class="text-center">eBao Memo Status</th>
                        <th class="text-center">Round</th>
                        <th class="text-center">Estimate time will be send</th>
                        <th class="text-center">PDF File</th>
                        <th class="text-center">Delivery Status</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="card-footer text-center">
            <button style="margin:5px" class="btn btn-info" type="button" id="btnAdhocSend">Adhoc Send</button>
            <button style="margin:5px" class="btn btn-primary" type="button" id="btnSaveStatus">Save</button>
            <button style="margin:5px" class="btn btn-secondary" type="button" id="btnResetDetail">Reset</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUnit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover " id="tblUnit">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGroup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover " id="tblGroup">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/jspage/preparation.js"></script>