﻿@{
    ViewData["Title"] = "Memo Amendment Information";
}

<style>
    .label-text {
        font-weight: bold
    }

    [class*="col-"] {
        padding-right: 0px;
    }
</style>
<input type="hidden" value="@ViewBag.id" id="memoTransactionID" />
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Basic Infomation</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-1">
                <p class="text-primary label-text">Policy No.</p>
            </div>
            <div class="col-2">
                <p id="policyNo"></p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Proposal No.</p>
            </div>
            <div class="col-2">
                <p id="proposalNo"></p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Proposal Date</p>
            </div>
            <div class="col-2">
                <p id="proposalDate"></p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Policy Status</p>
            </div>
            <div class="col-2">
                <p id="policyStatus"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p class="text-primary label-text">Policy Name</p>
            </div>
            <div class="col-2">
                <p id="policyName"></p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">ID</p>
            </div>
            <div class="col-2">
                <p id="citizenID"></p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Main Plan</p>
            </div>
            <div class="col-5">
                <p id="mainPlan"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p class="text-primary label-text">Agent Name</p>
            </div>
            <div class="col-2">
                <p id="agentName"></p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Unit</p>
            </div>
            <div class="col-2">
                <p id="unit"></p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Group</p>
            </div>
            <div class="col-5">
                <p id="group"></p>
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin-top:1rem">
    <div class="card-header">
        <h5 class="mb-0">Memo Document Infomation</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <p class="text-primary label-text">eBao Document No.</p>
            </div>
            <div class="col-md-2">
                <p id="ebaoDocumentNo"><a href="#"></a></p>
            </div>
            <div class="col-md-2">
                <p class="text-primary label-text">Transaction Date</p>
            </div>
            <div class="col-md-2">
                <p id="transactionDate"></p>
            </div>
            <div class="col-md-2">
                <p class="text-primary label-text">Created User</p>
            </div>
            <div class="col-md-2">
                <p id="createdUser"></p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="text-primary label-text">eBao Memo Status</p>
            </div>
            <div class="col-md-2">
                <p id="ebaoMemoStatus"></p>
            </div>
            <div class="col-md-2">
                <p class="text-primary label-text"></p>
            </div>
            <div class="col-md-2">
                <p id="ebaoRelpliedDate"></p>
            </div>
            <div class="col-md-2">
                <p class="text-primary label-text"></p>
            </div>
            <div class="col-md-2">
                <p id="ebaoRelpliedUser"></p>
            </div>
        </div>

    </div>
</div>
<div class="card" style="margin-top:1rem">
    <div class="card-header">
        <h5 class="mb-0">Memo Amendment Information</h5>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active label-text" data-toggle="tab" href="#home">Document</a>
            </li>
            <li class="nav-item">
                <a class="nav-link label-text" data-toggle="tab" href="#menu2">History</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" style="max-width:100%" class="container tab-pane active">

                <div class="row" style="margin-top:1rem">
                    <div class="col-2">
                        <p class="text-primary label-text">Document No.</p>
                    </div>
                    <div class="col-2">
                        <p id="ebaoDocumentNo2"><u><a href="#"></a></u></p>
                    </div>
                    <div class="col-8 text-right">
                        <div id="divEditMemo">
                            <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
                                id="btnEditMemo">
                                <ion-icon style="margin-bottom:-2px;color:red" name="create-outline"></ion-icon>Edit
                                Memo Item
                            </a>
                        </div>
                        <div class="divEditItem">
                            <a id="btnEditItem" class="btn text-primary label-text"
                                style="margin:10px;font-size:16px;cursor:pointer">
                                <ion-icon style="margin-bottom:-2px;color:green" name="pencil-outline"></ion-icon>Edit
                                Item
                            </a>
                            <a id="btnAddItem" class="btn text-primary label-text"
                                style="margin:10px;font-size:16px;cursor:pointer" data-toggle="modal"
                                data-target="#exampleModalCenter">
                                <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add Item
                            </a>

                            <a id="btnDeleteItem" class="btn text-primary label-text"
                                style="margin:10px;font-size:16px;cursor:pointer">
                                <ion-icon style="margin-bottom:-2px;margin-right:2px;color:green"
                                    name="trash-bin-outline"></ion-icon>Delete Item
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <br /><br />
                    <table class="table table-hover " id="tableDocument" width="100%">
                        <thead>
                            <tr>
                                <th style="width:33px">
                                    <input disabled style="margin-left:10px" type="checkbox" name="select_all" value="1"
                                        id="selectAll">
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="row">
                    <div class="col-1 text-danger text-right h5">หมายเหตุ : </div>
                    <div id="divNoteList" class="col-4">
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1"></div>
                    <div class="col-4">
                        <a id="btnAddNote" class="btn text-primary label-text"
                            style="font-size:12px;cursor:pointer">
                            <ion-icon style="margin-bottom:-2px;color:green" name="add-outline" role="img"
                                class="md hydrated" aria-label="add outline"></ion-icon>Add Note
                        </a>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row ">
                    <div class="text-center w-100">
                        <button style="margin:5px" class="btn btn-primary" type="button"
                            id="btnSave_EditItem">Save</button>
                        <button style="margin:5px" class="btn btn-success" type="button"
                            id="btnPreview">Preview</button>
                        <a style="margin:5px" class="btn btn-secondary" type="button"
                            href="/eMemo/Preparation/Index">Close</a>
                    </div>
                </div>
            </div>
            <div style="max-width:80%" id="menu2" class="container tab-pane fade">
                <br /><br />
                <table class="table table-hover " id="tableHistory" width="100%">
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Memo List Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-right">
                    <a id="btnModalAdd" class="btn text-primary label-text"
                        style="margin:10px;font-size:16px;cursor:pointer">
                        <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add Item
                    </a>
                    <a id="btnModalSearch" class="btn text-primary label-text"
                        style="margin:10px;font-size:16px;cursor:pointer">
                        <ion-icon style="margin-bottom:-2px;color:green" name="search-circle-outline"></ion-icon>Search
                    </a>
                    <a id="btnModalReset" class="btn text-primary label-text"
                        style="margin:10px;font-size:16px;cursor:pointer">
                        <ion-icon style="margin-bottom:-2px;color:green" name="repeat-outline"></ion-icon>Reset
                    </a>

                    <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
                        data-dismiss="modal">
                        <ion-icon style="margin-bottom:-2px;margin-right:2px;color:red" name="close-circle-outline">
                        </ion-icon>
                        Close
                    </a>
                </div>
                <div class="row">
                    <div class="col d-flex flex-column text-primary label-text">
                        <p>Memo Type</p>
                        <select class="custom-select custom-select-sm" id="ddlMemoType">
                            <option value="1" selected="">Please Select</option>
                        </select>
                    </div>
                    @*<div class="col-md-2">

                        <select class="custom-select custom-select-sm">
                        <option value="1" selected="">Please Select</option>
                        <option value="1">MED</option>
                        <option value="1">ASP</option>
                        <option value="1">ASP</option>
                        <option value="1">BLOOD</option>
                        <option value="1">APP</option>
                        </select>
                        </div>*@
                    <div class="col d-flex flex-column text-primary label-text">
                        <p>Memo Code</p>
                        <select class="custom-select custom-select-sm" id="ddlMemoCode">
                            <option></option>
                        </select>
                    </div>

                    @*<div class="col-md-3" style="align-self:flex-end">

                        <div style="width:245px" class="input-group">
                        <input type="text" class="form-control text-input">
                        <div class="input-group-append text-input">
                        <span class="input-group-text">...</span>
                        </div>
                        </div>
                        </div>*@

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br /><br />
                        <table class="table table-hover dataTable" id="tableMemoList">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div class="modal fade" id="modalSelectMemoCode" tabindex="-1" role="dialog"
    aria-labelledby="modalAddMemoCodeCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="modalAddMemoTypeLongTitle">Select Memo Code</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <div class="row col-md-12" style="justify-content: flex-end">
    <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
    data-toggle="modal" data-target="#modalSelectMemoCode">
    <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add
    </a>
    </div>
    <div style="border:solid;border-width:thin;padding-bottom:15px;padding-top:15px;margin-left:2px;border-color:lightgray"
    class="col-md-12">
    <div class="">

    <table class="table table-hover " id="tableMemoCodeSelect" width="100%">
    </table>

    </div>
    </div>
    </div>

    </div>

    </div>
    </div> *@

<script src="~/jspage/preparation-information.js"></script>