﻿@{
    ViewData["Title"] = "Email Management Master Setup";
}

<link rel="stylesheet" href="~/css/Shared.css" />

<style>
    .label-text {
        font-weight: bold
    }
</style>

<div style="margin:20px;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Search Criteria of email Management Screen</h5>
        </div>
        <div class="card-body">

            <div class="card" style="margin-bottom:15px;">
                <div class="card-body">
                    <div class="row">

                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary label-text">
                                <p>Email Type</p>
                                <select class="custom-select custom-select-sm" id="ddlEmailTypeMain">
                                    <option value="Sale Support">Sale Support</option>
                                    <option value="Underwriting">Underwriting</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary">
                                <p class="label-text">Business Unit</p>
                                <div class="input-group">
                                    <select class="custom-select custom-select-sm  ddlBusinessUnit"
                                        id="ddlBusinessUnitMain">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary">
                                <p class="label-text">Branch / Office</p>
                                <div class="input-group">
                                    <select class="custom-select custom-select-sm " id="ddlBranchOfficeMain">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary label-text">
                                <p>E-mail</p>
                                <input type="text" class="form-control text-input" id="txtEmailMain">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary label-text">
                                <p>Group Mail Status</p>
                                <select class="custom-select custom-select-sm" id="ddlStatusMain">
                                    <option value="">Please Select</option>
                                    <option value="true">Enable</option>
                                    <option value="false">Disable</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary label-text">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <div>
                <button class="btn btn-secondary" style="margin:5px" type="button" id="btnResetMain">Reset</button>
            </div>
        </div>
    </div>

    <div class="text-right">
        <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" id="btnAddEmailGroup">
            <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add / Modify Group Mail
            Information
        </a>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Search Results of e-mail Management Screen</h5>
        </div>
        <div class="card-body">


            <table class="table table-hover " id="tableGroupEmail">
                <thead>
                    <tr>
                        <th style="text-align:center"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAddEmail" tabindex="-1" role="dialog" aria-labelledby="modalAddRuleCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddMemoTypeLongTitle">Add / Modify Group Mail Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card-body" style="margin-top:-20px;">
                            <div class="row " style="justify-content:flex-end">
                                <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
                                    id="btnSave">
                                    <ion-icon style="margin-bottom:-2px;color:green" name="save-outline"></ion-icon>
                                    Save
                                </a>
                                <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
                                    id="btnResetModify">
                                    <ion-icon style="margin-bottom:-2px;margin-right:2px;color:blue"
                                        name="repeat-outline"></ion-icon>
                                    Reset
                                </a>
                                <input type="hidden" id="actionTypeEmailGroup" />
                                <input type="hidden" id="txtEmailGroupID" />
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Email Type<span class="text-danger"> *</span></p>

                                    <div class="input-group">
                                        <select class="custom-select custom-select-sm" id="ddlEmailTypeModify">
                                            <option value="Sale Support">Sale Support</option>
                                            <option value="Underwriting">Underwriting</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column text-primary">
                                    <div style="margin-top:30px" class="form-check form-check-inline label-text">
                                        Status
                                        <div style="margin-left:20px;margin-top:5px">
                                            <input class="form-check-input" type="radio" name="radioStatus"
                                                id="radioStatus" checked value="true">
                                            <label class="form-check-label" for="radioStatus">Enable</label>
                                        </div>
                                        <div style="margin-left: 10px; margin-top: 5px">
                                            <input class="form-check-input" type="radio" name="radioStatus"
                                                id="radioStatusDisable" value="false">
                                            <label class="form-check-label" for="radioStatusDisable">Disable</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6  text-primary label-text input-icons">
                                    <p>Send Group</p>
                                    <select class="custom-select custom-select-sm" id="ddlSendGroup">
                                    </select>
                                </div>
                            </div>
                            @* <p style="margin-bottom:-18px;color:blue" class="label-text">Require for Sale Support</p>
                            *@
                            <div style="border:solid;border-width:thin;padding:10px;border-color:lightgray;margin-top:20px"
                                class="row">
                                <div class="col d-flex flex-column text-primary">
                                    <p class="label-text  ">Business Unit
                                    </p>
                                    <div class="input-group">
                                        <select class="selectlist ddlBusinessUnit"
                                            style="width:100%;min-height:32px;font-size:14px"
                                            id="ddlBusinessUnitModify">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column text-primary">
                                    <p class="label-text ">Branch / Office
                                    </p>
                                    <div class="input-group">
                                        <select class="selectlist" style="width:100%;min-height:32px;font-size:14px"
                                            id="ddlBranchOfficeModify">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <p style="margin-bottom:-18px;color:blue" class="label-text">Input e-mail</p>
                            <div style="border:solid;border-width:thin;padding:10px;border-color:lightgray;margin-top:20px"
                                class="row">
                                <div class="col-md-3 d-flex flex-column text-primary label-text">
                                    <div class="form-check form-check-inline label-text">
                                        <div style="margin-top:5px">
                                            <input checked class="form-check-input" type="radio" name="radioTOCC"
                                                id="radioTOCC" value="TO">
                                            <label class="form-check-label" for="radioTOCC">TO</label>
                                        </div>
                                        <div style="margin-left: 10px; margin-top: 5px">
                                            <input class="form-check-input" type="radio" name="radioTOCC" id="radioCC"
                                                value="CC">
                                            <label class="form-check-label" for="radioCC">CC</label>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-6 text-primary label-text">
                                    E-Mail Address
                                    <input type="email" class="form-control text-input" id="txtEmailAddress">
                                </div>
                                <div class="col-md-3 text-primary label-text">
                                    <a class="btn text-primary label-text"
                                        style="margin:10px;font-size:16px;cursor:pointer" id="btnAddEmail">
                                        <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>
                                        Add
                                    </a>
                                </div>


                            </div>

                        </div>

                        <p style="color:blue" class="label-text">List Group Mail Information</p>
                        <div style="border:solid;border-width:thin;padding-bottom:15px;padding-top:15px;margin-left:2px;border-color:lightgray"
                            class="col-md-12">

                            <table class="table table-hover dataTable" id="tableEmailManagement" width="100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Type</th>
                                        <th style="text-align:center">E-mail Address</th>
                                        <th style="text-align:center">Delete</th>
                                        @*<th style="text-align:center"><ion-icon
                                            style="color:green;font-size:20px;cursor:pointer"
                                            name="trash-bin-outline"></ion-icon></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>




            </div>

        </div>
    </div>
</div>


<script src="~/jspage/email-management.js"></script>