﻿@{
    ViewData["Title"] = "Memo Mapping Master Setup";
}

<style>
    textarea {
        resize: none;
    }

    .selectize-input {
        min-height: 31px;
        height: 31px;
        font-size: 14px
    }
</style>
<link rel="stylesheet" href="~/css/Shared.css" />
<div style="margin:20px;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Search Criteria of Memo Mapping Screen</h5>
        </div>
        <div class="card-body">

            <div class="card" style="margin-bottom:15px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col d-flex flex-column text-primary label-text">
                            <p>Memo Type</p>

                            <select class="custom-select custom-select-sm ddlMemoType" id="ddlMemoType">
                                <option value="" selected="">Please Select</option>
                            </select>
                        </div>
                        <div class="col d-flex flex-column text-primary">
                            <p class="label-text">Memo Code</p>
                            <div class="input-group">
                                @*<select class="custom-select custom-select-sm" id="ddlMemoCode">
                                    <option value="" selected="">Please Select</option>
                                </select>*@
                                <div class="input-group">
                                    <select class="custom-select custom-select-sm  ddlMemoCode" id="ddlMemoCode">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex flex-column text-primary label-text">
                            <p>Memo Code Status</p>
                            <select class="custom-select custom-select-sm" id="ddlMemoStatus">
                                <option value="">Please Select</option>
                                <option value="false">Disable</option>
                                <option value="true">Enable</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <div>
                <button class="btn btn-secondary" style="margin:5px" type="button" id="btnResetMain">Reset</button>
            </div>
        </div>
    </div>

    <div class="text-right">
        <a id="showModalAddMemoType" class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" data-toggle="modal" data-target="#modalAddMemoType">
            <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add / Modify Memo Type
        </a>
        <a id="showModalAddMemoCode" class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" data-toggle="modal" data-target="#modalAddMemoCode">
            <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add / Modify Memo Code
        </a>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Search Results of Memo Mapping Screen </h5>
        </div>
        <div class="card-body">


            <table class="table table-hover " id="tableMemoMapping">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAddMemoType" tabindex="-1" role="dialog" aria-labelledby="modalAddMemoTypeCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddMemoTypeLongTitle">Add / Modify Memo Type Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-right">
                    <a id="btnSaveMemoType" class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer">
                        <ion-icon style="margin-bottom:-2px;color:green" name="save-outline"></ion-icon> Save
                    </a>
                    <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" data-dismiss="modal">
                        <ion-icon style="margin-bottom:-2px;margin-right:2px;color:red" name="close-circle-outline"></ion-icon>
                        Close
                    </a>
                </div>

                <div class="row" style="padding:0px 30px 0px 30px">
                    <p style="color:blue" class="label-text">Add / Modify Memo Type</p>
                    <div style="border:solid;border-width:thin;padding-bottom:15px;margin-left:2px;border-color:lightgray" class="row col-md-12">
                        <div class="col d-flex flex-column text-primary label-text">
                            <p>Memo Type<span class="text-danger"> *</span></p>
                            <input type="hidden" class="form-control text-input" id="txtMemoTypeID">
                            <input type="hidden" class="form-control text-input" id="actionType">
                            <input type="text" class="form-control text-input" id="txtMemoTypeName" disabled>

                        </div>
                        <div class="col d-flex flex-column text-primary label-text">
                            <p>Memo Type Sequence<span class="text-danger"> *</span></p>
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control text-input" id="txtMemoTypeSequence" disabled>
                        </div>

                    </div>


                    <div class="row col-md-12" style="justify-content: flex-end">
                        <a id="btnAddMemoType" class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer">
                            <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add
                        </a>
                        <a id="btnEditMemoType" class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer">
                            <ion-icon style="margin-bottom:-2px;color:green" name="pencil-outline"></ion-icon>Edit
                        </a>


                        <a id="btnDeleteMemoType" class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer">
                            <ion-icon style="margin-bottom:-2px;margin-right:2px;color:green" name="trash-bin-outline"></ion-icon>Delete
                        </a>
                    </div>

                    <p style="color:blue" class="label-text">List Memo Type</p>
                    <div style="border:solid;border-width:thin;padding-bottom:15px;padding-top:15px;margin-left:2px;border-color:lightgray" class="col-md-12">
                        <div class="">

                            <table class="table table-hover " id="tableMemoTypeList" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalAddMemoCode" tabindex="-1" role="dialog" aria-labelledby="modalAddMemoCodeCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddMemoTypeLongTitle">Add / Modify Memo Code Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-right">
                    <a id="btnSaveMemoCode" class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer">
                        <ion-icon style="margin-bottom:-2px;color:green" name="save-outline"></ion-icon> Save
                    </a>
                    <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" data-dismiss="modal">
                        <ion-icon style="margin-bottom:-2px;margin-right:2px;color:red" name="close-circle-outline"></ion-icon>
                        Close
                    </a>
                </div>
                <p style="color:blue" class="label-text">Add / Modify Memo Code</p>
                <div style="border: solid; border-width: thin; padding: 0px 30px 15px 30px;margin-left:2px; margin-right: 2px; border-color: lightgray" class="row">
                    <div class="row col-md-12">
                        <div class="col d-flex flex-column text-primary label-text">
                            <p>Memo Type<span class="text-danger"> *</span></p>
                            <input type="hidden" id="actionTypeMemocode" />
                            <input type="hidden" id="txtMemoCodeID" />

                            <select class="custom-select custom-select-sm ddlMemoType" id="ddlMemoCode_Type">
                                <option value="" selected="">Please Select</option>
                            </select>
                        </div>
                        <div class="col d-flex flex-column text-primary label-text">
                            <p>Memo Code Sequence<span class="text-danger"> *</span></p>
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control text-input" id="txtMemoCode_Sequence">
                        </div>

                    </div>
                    <div class="row col-md-12">
                        <div class="col d-flex flex-column text-primary label-text">
                            <p>Memo Code<span class="text-danger"> *</span></p>

                            <input type="text" class="form-control text-input" id="txtMemoCode_Code">
                        </div>
                        <div class="col d-flex flex-column text-primary label-text">
                            <p>Browse</p>

                            <input name="filesToUpload[]" style="font-size:smaller" id="txtMemoCode_File" type="file" multiple="" class="form-control text-input" accept=".pdf" />
                            <div id="listFile"></div>
                        </div>


                    </div>
                    <div class="row col-md-12">

                        <div class="col d-flex flex-column text-primary label-text">
                            <p>Memo Description<span class="text-danger"> *</span></p>
                            <textarea type="text" class="form-control" id="txtMemoCode_Description"></textarea>
                        </div>
                        <div class="col d-flex flex-column text-primary label-text">

                            <div style="margin-top:20px" class="form-check form-check-inline">
                                Status
                                <div style="margin-left:20px;margin-top:5px">
                                    <input class="form-check-input radioMemoCode_Status" type="radio" name="radioMemoCode_Status" value="true" checked id="radioMemoCode_StatusEnable">
                                    <label class="form-check-label" for="inlineRadio1">Enable</label>
                                </div>
                                <div style="margin-left: 10px; margin-top: 5px">
                                    <input class="form-check-input radioMemoCode_Status" type="radio" name="radioMemoCode_Status" value="false" id="radioMemoCode_StatusDisable">
                                    <label class="form-check-label" for="inlineRadio1">Disable</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">

                    </div>
                </div>


                <div class="row col-md-12" style="justify-content: flex-end">
                    <a id="btnAddMemoCode" class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" id="btnAddMemoCode">
                        <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add
                    </a>
                    <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" id="btnEditMemocode">
                        <ion-icon style="margin-bottom:-2px;color:green" name="pencil-outline"></ion-icon>Edit
                    </a>


                    <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" id="btnDeleteMemocode">
                        <ion-icon style="margin-bottom:-2px;margin-right:2px;color:green" name="trash-bin-outline"></ion-icon>Delete
                    </a>
                </div>

                <p style="color:blue" class="label-text">List Memo Code</p>
                <div style="border:solid;border-width:thin;padding-bottom:15px;padding-top:15px;margin-left:2px;border-color:lightgray" class="col-md-12">
                    <div class="">

                        <table class="table table-hover tableMemoCodeList" id="tableMemoCodeList" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<script src="~/jspage/memo-mapping.js"></script>