﻿@{
    ViewData["Title"] = "Rule Management Master Setup";
}

<link rel="stylesheet" href="~/css/Shared.css" />
<style>
    .dual-list .list-group {
        margin-top: 8px;
    }

    .list-left li,
    .list-right li {
        cursor: pointer;
    }

    .list-arrows {
        padding-top: 80px;
    }

    .list-arrows button {
        margin-bottom: 20px;
    }

    .list-group-item {
        padding: .5rem 1.25rem !important;
    }
</style>
<div style="margin:20px;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Search Criteria of Rule Management Screen</h5>
        </div>
        <div class="card-body">

            <div class="card" style="margin-bottom:15px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary">
                                <p class="label-text">Channel</p>
                                <div class="input-group">
                                    <select class="custom-select custom-select-sm  ddlChannel" id="ddlChannelMain">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary">
                                <p class="label-text">Sub Channel</p>
                                <div class="input-group">
                                    <select class="custom-select custom-select-sm  ddlSubChannel"
                                        id="ddlSubChannelMain">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary">
                                <p class="label-text">Source of Business</p>
                                <div class="input-group">
                                    <select class="custom-select custom-select-sm ddlSOB" id="ddlSOBMain">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>





                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary">
                                <p class="label-text">Business Unit</p>
                                <div class="input-group">
                                    <select class="custom-select custom-select-sm  ddlBusinessUnit"
                                        id="ddlBusinessUnitMain">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary">
                                <p class="label-text">Product Category</p>
                                <div class="input-group">
                                    <select class="custom-select custom-select-sm " id="ddlProductCategoryMain">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col d-flex flex-column text-primary ">
                                <p class="label-text">Status</p>
                                <select class="custom-select custom-select-sm" id="ddlStatusMain">
                                    <option value="">Please Select</option>
                                    <option value="true">Enable</option>
                                    <option value="false">Disable</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <div>
                <button class="btn btn-secondary" style="margin:5px" type="button" id="btnResetMain">Reset</button>
            </div>
        </div>
    </div>

    <div class="text-right">
        <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" id="btnAddRule">
            <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add Rule
        </a>
        <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer" id="btnModifyRule">
            <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Modify Rule
        </a>
        <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
            id="btnDeleteDocumentChannel">
            <ion-icon style="margin-bottom:-2px;margin-right:2px;color:green" name="trash-bin-outline"></ion-icon>Delete
            Rule
        </a>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Search Results of Rule Management Screen</h5>
        </div>
        <div class="card-body">


            <table class="table table-hover " id="tableRuleManagement">
                <thead>
                    <tr>
                        <th style="text-align:center"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="modalAddRule" tabindex="-1" role="dialog" aria-labelledby="modalAddRuleCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddRuleLongTitle">Add Rule Infomation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card-body" style="margin-top:-20px;">
                            <div class="row " style="justify-content:flex-end">
                                <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
                                    id="btnSave">
                                    <ion-icon style="margin-bottom:-2px;color:green" name="save-outline"></ion-icon>
                                    Save
                                </a>
                                <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
                                    id="btnReset">
                                    <ion-icon style="margin-bottom:-2px;color:green" name="refresh-outline"></ion-icon>
                                    Reset
                                </a>
                                <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
                                    data-dismiss="modal">
                                    <ion-icon style="margin-bottom:-2px;margin-right:2px;color:red"
                                        name="close-circle-outline"></ion-icon>
                                    Close
                                </a>
                                <input type="hidden" id="actionTypeRuleManagement" />
                                <input type="hidden" id="txtRuleManagementID" />
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary ">
                                    <p class="label-text">Channel<span class="text-danger"> *</span></p>

                                    <div class="input-group">
                                        <select class="selectlist ddlChannel"
                                            style="width:100%;min-height:32px;font-size:14px" id="ddlChannelModify">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column text-primary">
                                    <p class="label-text">Sub Channel</p>
                                    <div class="input-group">
                                        <select class="selectlist ddlSubChannel"
                                            style="width:100%;min-height:32px;font-size:14px" id="ddlSubChannelModify">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary">
                                    <p class="label-text">Source of Business</p>

                                    <div class="input-group">
                                        <select class="selectlist ddlSOB"
                                            style="width:100%;min-height:32px;font-size:14px" id="ddlSOBModify">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column text-primary">
                                    <p class="label-text">Business Unit</p>
                                    <div class="input-group">
                                        <select class="selectlist ddlBusinessUnit"
                                            style="width:100%;min-height:32px;font-size:14px"
                                            id="ddlBusinessUnitModify">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary">
                                    <p class="label-text">Product Category</p>
                                </div>
                            </div>
                            <div class="row" style="height: 270px; overflow-y: scroll;">
                                <div class="col-5">
                                    <div class="dual-list list-left">
                                        <ul class="list-group" id="list-left">
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-2">

                                    <div class="list-arrows text-center">
                                        <button class="btn btn-default btn-sm move-left">
                                            <ion-icon
                                                style="font-size:30px;margin-bottom:-2px;margin-right:2px;color:red"
                                                name="chevron-back-circle-outline" role="img" class="md hydrated"
                                                aria-label="chevron back circle outline"></ion-icon>
                                        </button>

                                        <button class="btn btn-default btn-sm move-right">
                                            <ion-icon
                                                style="font-size: 30px; margin-bottom: -2px; margin-right: 2px; color: red"
                                                name="chevron-forward-circle-outline" role="img" class="md hydrated"
                                                aria-label="chevron forward circle outline"></ion-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="dual-list list-right ">
                                        <div class="well">

                                            <ul class="list-group" id="list-right">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col d-flex text-primary label-text" style="align-items:flex-end">
                                    <p style="padding-right:50px">Status</p>

                                    <div class="custom-control custom-radio custom-control-inline"
                                        style="padding-left:20px">
                                        <input type="radio" id="radioStatus" name="radioStatus"
                                            class="custom-control-input" checked value="true">
                                        <label class="custom-control-label" for="radioStatus">Enable</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline"
                                        style="padding-left:20px">
                                        <input type="radio" id="radioStatusDisable" name="radioStatus"
                                            class="custom-control-input" value="false">
                                        <label class="custom-control-label" for="radioStatusDisable">Disable</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header"
                                style="background-color: #dbfac7 !important; color: #206803!important "><b>Send
                                    option</b></div>
                            <div class="card-body">
                                <div class="row" style="align-items:flex-end">
                                    <div class="col-6  text-primary label-text input-icons">
                                        <p>1 <sup>st</sup> Tier <span class="text-danger"> *</span> </p>
                                        <select class="custom-select custom-select-sm" id="ddlFirstTier">
                                            <option value="Agent">Agent</option>
                                            <option value="Customer">Customer</option>
                                            <option value="Service Agent">Service Agent</option>
                                        </select>
                                    </div>
                                    <div class="col-6  text-primary label-text input-icons">
                                        <div class="row " style="align-items:flex-end">
                                            <div class="col d-flex text-primary label-text"
                                                style="align-items:flex-end">

                                                <p style="padding-right:50px">1 <sup>st</sup> Channel </p>
                                                <div class="custom-control custom-radio custom-control-inline"
                                                    style="padding-left:20px">
                                                    <input type="radio" id="radioFirstTierChannel"
                                                        name="radioFirstTierChannel" class="custom-control-input"
                                                        checked value="SMS">
                                                    <label class="custom-control-label"
                                                        for="radioFirstTierChannel">SMS</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline"
                                                    style="padding-left:20px">
                                                    <input type="radio" id="radioFirstTierChannelEmail"
                                                        name="radioFirstTierChannel" class="custom-control-input"
                                                        value="E-Mail">
                                                    <label class="custom-control-label"
                                                        for="radioFirstTierChannelEmail">E-Mail</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline"
                                                    style="padding-left:20px">
                                                    <input type="radio" id="radioFirstTierChannelSMSEmail"
                                                        name="radioFirstTierChannel" class="custom-control-input"
                                                        value="SMS&E-Mail">
                                                    <label class="custom-control-label"
                                                        for="radioFirstTierChannelSMSEmail">SMS & E-Mail</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="align-items:flex-end">
                                    <div class="col-6  text-primary label-text input-icons">
                                        <p>2 <sup>nd</sup> Tier </p>
                                        <select class="custom-select custom-select-sm" id="ddlSecondTier">
                                            <option value="" selected="">Please Select</option>
                                            <option value="Agent">Agent</option>
                                            <option value="Customer">Customer</option>
                                            <option value="Service Agent">Service Agent</option>
                                        </select>
                                    </div>
                                    <div class="col-6  text-primary label-text input-icons">
                                        <div class="row " style="align-items:flex-end">
                                            <div class="col d-flex text-primary label-text"
                                                style="align-items:flex-end">

                                                <p style="padding-right:50px">2 <sup>nd</sup> Channel </p>
                                                <div class="custom-control custom-radio custom-control-inline"
                                                    style="padding-left:20px">
                                                    <input type="radio" id="radioSecondTierChannel"
                                                        name="radioSecondTierChannel" class="custom-control-input"
                                                        value="SMS">
                                                    <label class="custom-control-label"
                                                        for="radioSecondTierChannel">SMS</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline"
                                                    style="padding-left:20px">
                                                    <input type="radio" id="radioSecondTierChannelEmail"
                                                        name="radioSecondTierChannel" class="custom-control-input"
                                                        value="E-Mail">
                                                    <label class="custom-control-label"
                                                        for="radioSecondTierChannelEmail">E-Mail</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline"
                                                    style="padding-left:20px">
                                                    <input type="radio" id="radioSecondTierChannelSMSEmail"
                                                        name="radioSecondTierChannel" class="custom-control-input"
                                                        value="SMS&E-Mail">
                                                    <label class="custom-control-label"
                                                        for="radioSecondTierChannelSMSEmail">SMS & E-Mail</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6  text-primary label-text input-icons">
                                        <p>E-Mail to Sale Support</p>
                                        <select class="custom-select custom-select-sm" id="checkSendEmailToSaleSupport">
                                        </select>
                                    </div>
                                    @* <div class="col d-flex flex-column text-primary label-text">
                                        <p>E-Mail to Sale Support </p>
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                        id="checkSendEmailToSaleSupport">
                                        <label class="custom-control-label"
                                        for="checkSendEmailToSaleSupport">Send</label>
                                        </div>
                                        <p>E-Mail to Underwriting </p>
                                        <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                        id="checkSendEmailToSaleUnderwriting">
                                        <label class="custom-control-label"
                                        for="checkSendEmailToSaleUnderwriting">Send</label>
                                        </div>
                                        </div> *@
                                    <div class="col d-flex flex-column text-primary label-text mt-4">
                                        <div class="row">
                                            <div class="col">
                                                <div class="input-group">
                                                    <p><u>Space Working Days </u> </p>&nbsp;&nbsp;
                                                    <input type="number" min="0" class="form-control text-input"
                                                        id="txtSpaceWorkingDays"
                                                        oninput="this.value = Math.abs(this.value)">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6  text-primary label-text input-icons">
                                        <p>E-Mail to Underwriting</p>
                                        <select class="custom-select custom-select-sm"
                                            id="checkSendEmailToSaleUnderwriting">
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/jspage/rule-mapping.js"></script>