p {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.label-text {
    font-weight: bold
}

.input-icons ion-icon {
    position: absolute;
}

.input-icons {
    width: 100%;
}

.icon {
    min-width: 40px;
    right: 15px;
    font-size: 23px;
    margin-bottom: 5px;
    top: 42px
}

.input-field {
    width: 100%;
    text-align: center;
}
