﻿@model eMemo.Models.InquiryViewModel;
@{
    ViewData["Title"] = "eMemo Inquiry";
}

<link rel="stylesheet" href="~/css/Shared.css" />

<div style="margin:20px;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Search Criteria of Memo Inquiry Screen</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="margin-bottom:15px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Transaction Date</p>
                                    <div class="input-group">
                                        <input type="text" placeholder="dd/mm/yyyy" id="transactionDateForm"
                                            name="transactionDateForm" class="form-control text-input datepicker"
                                            autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i
                                                    class="fa fa-calendar-alt fa-fw"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>To Transaction Date</p>
                                    <div class="input-group">
                                        <input type="text" placeholder="dd/mm/yyyy" id="transactionDateTo"
                                            name="transactionDateTo" class="form-control text-input datepicker"
                                            autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i
                                                    class="fa fa-calendar-alt fa-fw"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Policy No.</p><input type="text" id="policyNo" name="policyNo"
                                        class="form-control text-input">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Proposal No.</p><input type="text" id="proposalNo" name="proposalNo"
                                        class="form-control text-input">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>eBao Document No.</p><input type="text" id="documentNo" name="documentNo"
                                        class="form-control text-input">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>O/S Memo</p>
                                    <select class="custom-select custom-select-sm" id="osMemo" name="osMemo">
                                        <option value="" selected>All</option>
                                        <option value="Y">Y</option>
                                        <option value="N">N</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>eBao Memo Status</p>
                                    <select class="custom-select custom-select-sm" id="ebaoMemoStatusID"
                                        name="ebaoMemoStatusID">
                                        <option value="" selected>All</option>
                                    </select>
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Sending</p>
                                    <select class="custom-select custom-select-sm" id="sending" name="sending">
                                        <option value="" selected>All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="margin-bottom:15px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>ID</p><input type="text" class="form-control text-input" id="citizenID"
                                        name="citizenID">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Party ID</p><input type="text" class="form-control text-input" id="partyID"
                                        name="partyID">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Customer Name</p>
                                    <input type="text" class="form-control text-input" id="customerName"
                                        name="customerName">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Customer Surname</p><input type="text" class="form-control text-input"
                                        id="customerSurname" name="customerSurname">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6  text-primary label-text input-icons">
                                    <p>Agent Code</p>
                                    <input type="text" class="form-control text-input" id="agentCode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Agent Name</p><input type="text" class="form-control text-input" id="agentName"
                                        name="agentName">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text">
                                    <p>Agent Surname</p><input type="text" class="form-control text-input"
                                        id="agentSurname" name="agentSurname">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex flex-column text-primary label-text input-icons">
                                    <p>Unit</p>
                                    <a data-toggle="modal" data-target="#modalUnit">
                                        <ion-icon style="cursor:pointer"
                                            class="icon ion-ios-search-strong text-secondary" name="search">
                                        </ion-icon>
                                    </a>
                                    <input type="text" class="form-control text-input" id="agentUnit">
                                </div>
                                <div class="col d-flex flex-column text-primary label-text input-icons">
                                    <p>Group</p>
                                    <a data-toggle="modal" data-target="#modalGroup">
                                        <ion-icon style="cursor:pointer"
                                            class="icon ion-ios-search-strong text-secondary" name="search">
                                        </ion-icon>
                                    </a>
                                    <input type="text" class="form-control text-input" id="agentGroup">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <div>
                <button class="btn btn-primary" style="margin:5px" onclick="SearchValue()" type="button">Search</button>
                <button class="btn btn-secondary" style="margin:5px" onclick="ClearValue()" type="button">Reset</button>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0" id="msgResultCount">Search Results of Memo Inquiry Screen : 0 Items found</h5>
        </div>
        <div class="card-body">


            <table class="table table-hover " id="tblDetails">

            </table>
        </div>
        @*<div class="card-footer text-center">
            <button style="margin:5px" class="btn btn-info" type="button">Adhoc Send</button>
            <button style="margin:5px" class="btn btn-primary" type="button">Save</button>
            <button style="margin:5px" class="btn btn-secondary" type="button">Reset</button>
            </div>*@
    </div>
</div>

<div class="modal fade" id="modalUnit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover " id="tblUnit">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGroup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover " id="tblGroup">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/jspage/Inquiry.js"></script>