﻿@model eMemo.Models.InquiryInformation
@{
    ViewData["Title"] = "Memo Inquiry Information";
}

@*<input type="hidden" id="memoTransactionID" name="memoTransactionID" value="{{ model.memoTransactionID }}" />*@
@Html.HiddenFor(model => model.memoTransactionID, new { id = "memoTransactionID" })
<style>
    .label-text {
        font-weight: bold
    }

    [class*="col-"] {
        padding-right: 0px;
    }
</style>

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Basic Infomation</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-1">
                <p class="text-primary label-text">Policy No.</p>
            </div>
            <div class="col-2">
                <p id="policyNo"></p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Proposal No.</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.basicInformation.proposalNo, new { id = "proposalNo" })</p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Proposal Date</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.basicInformation.proposalDate, new { id = "proposalDate" })</p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Policy Status</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.basicInformation.policyStatus, new { id = "policyStatus" })</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p class="text-primary label-text">Policy Name</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.basicInformation.policyName, new { id = "policyName" })</p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">ID</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.basicInformation.citizenID, new { id = "citizenID" })</p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Main Plan</p>
            </div>
            <div class="col-5">
                <p>@Html.LabelFor(model => model.basicInformation.mainPlan, new { id = "mainPlan" })</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p class="text-primary label-text">Agent Name</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.basicInformation.agentName, new { id = "agentName" })</p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Unit</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.basicInformation.unit, new { id = "unit" })</p>
            </div>
            <div class="col-1">
                <p class="text-primary label-text">Group</p>
            </div>
            <div class="col-5">
                <p>@Html.LabelFor(model => model.basicInformation.group, new { id = "group" })</p>
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin-top:1rem">
    <div class="card-header">
        <h5 class="mb-0">Memo Document Infomation</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <p class="text-primary label-text">eBao Document No.</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.memoDocumentInformation.ebaoDocumentNo, new { id = "ebaoDocumentNo" })
                </p>
            </div>
            <div class="col-md-2">
                <p class="text-primary label-text">Transaction Date</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.memoDocumentInformation.transactionDate, new { id = "transactionDate"
                    })</p>
            </div>
            <div class="col-md-2">
                <p class="text-primary label-text">Created User</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.memoDocumentInformation.createdUser, new { id = "createdUser" })</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="text-primary label-text">eBao Memo Status</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.memoDocumentInformation.ebaoMemoStatus, new { id = "ebaoMemoStatus" })
                </p>
            </div>
            <div class="col-md-2">
                <p class="text-primary label-text">eBao Replied User</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.memoDocumentInformation.ebaoRelpliedUser, new { id = "ebaoRelpliedUser"
                    })</p>
            </div>

            <div class="col-md-2">
                <p class="text-primary label-text">eBao Replied Date</p>
            </div>
            <div class="col-2">
                <p>@Html.LabelFor(model => model.memoDocumentInformation.ebaoRelpliedDate, new { id = "ebaoRelpliedDate"
                    })</p>
            </div>
        </div>
        <br /><br />
        <table class="table table-hover " id="tableMemoDocument"></table>

    </div>
</div>
<div class="card" style="margin-top:1rem">
    <div class="card-header">
        <h5 class="mb-0">Memo Amendment Information</h5>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active label-text" data-toggle="tab" href="#home">Document</a>
            </li>
            <li class="nav-item">
                <a class="nav-link label-text" data-toggle="tab" href="#menu2">History</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" style="max-width:100%" class="container tab-pane active">

                <div class="row" style="margin-top:1rem">
                    <div class="col-2 label-text">
                        <p class="text-primary">Document No.</p>
                    </div>
                    <div class="col-2">
                        <p>@Html.LabelFor(model => model.memoDocumentInformation.ebaoDocumentNo, new { id =
                            "ebaoDocumentNo2" })</p>
                    </div>
                    <div class="col-8 text-right">
                        <div id="divEditMemo">
                            <a id="btnReply" class="btn text-primary label-text"
                                style="margin:10px;font-size:16px;cursor:pointer">
                                <ion-icon style="margin-bottom:-2px;color:green" name="arrow-undo-sharp"></ion-icon>
                                Replied Memo Item
                            </a>
                            <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
                                id="btnEditMemo">
                                <ion-icon style="margin-bottom:-2px;color:red" name="create-outline"></ion-icon>Edit
                                Memo Item
                            </a>
                        </div>
                        <div class="divEditItem">
                            <a id="btnEditItemInquiry" class="btn text-primary label-text"
                                style="margin:10px;font-size:16px;cursor:pointer">
                                <ion-icon style="margin-bottom:-2px;color:green" name="pencil-outline"></ion-icon>Edit
                                Item
                            </a>
                            <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
                                data-toggle="modal" data-target="#modalAddItem">
                                <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add Item
                            </a>
                            <a id="btnDeleteItemInquiry" class="btn text-primary label-text"
                                style="margin:10px;font-size:16px;cursor:pointer">
                                <ion-icon style="margin-bottom:-2px;margin-right:2px;color:green"
                                    name="trash-bin-outline"></ion-icon>Delete Item
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <br /><br />
                    <table class="table table-hover " id="tableAmendmentDocument" width="100%">
                        <thead>
                            <tr>
                                <th style="width:33px">
                                    <input disabled style="margin-left:10px" type="checkbox" name="select_all" value="1"
                                        id="selectAll">
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                 <div class="row">
                    <div class="col-1 text-danger text-right h5">หมายเหตุ : </div>
                    <div id="divNoteList" class="col-4">
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1"></div>
                    <div class="col-4">
                        <a id="btnAddNote" class="btn text-primary label-text"
                            style="font-size:12px;cursor:pointer">
                            <ion-icon style="margin-bottom:-2px;color:green" name="add-outline" role="img"
                                class="md hydrated" aria-label="add outline"></ion-icon>Add Note
                        </a>
                    </div>
                    <div class="col">

                    </div>
                </div>
                <div class="row ">
                    <div class="text-center w-100">
                        <button style="margin:5px" class="btn btn-primary" type="button"
                            id="btnSave_EditItem">Save</button>
                        <button style="margin:5px" class="btn btn-success" type="button"
                            id="btnPreview">Preview</button>
                        <a style="margin:5px" class="btn btn-secondary" type="button"
                            href="/eMemo/Inquiry/Index">Close</a>
                    </div>
                </div>
            </div>
            <div style="max-width:80%" id="menu2" class="container tab-pane fade">
                <br /><br />
                <table class="table table-hover " id="tableHistory" width="100%"></table>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalResend" tabindex="-1" role="dialog" aria-labelledby="modalResendTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalResendLongTitle">
                    <ion-icon style="margin-bottom:-3px" name="information-circle-outline"></ion-icon>
                    Select Resend Method
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="padding: 0px 30px 10px 30px">
                    <div class="col col-4">
                        <label class="text-primary label-text">Via <span class="text-danger">*</span></label>
                    </div>
                    <div class="col">
                        <select id="ddlModalResendVia" class="custom-select custom-select-sm">
                            <option value="" selected>Please Select</option>
                            <option value="Agent">Agent</option>
                            <option value="Customer">Customer</option>
                            <option value="Service Agent">Service Agent</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding: 0px 30px 0px 30px">
                    <div class="col col-4">
                        <label class="text-primary label-text">By Channel <span class="text-danger">*</span></label>
                    </div>
                    <div class="col">
                        <select id="ddlModalResendByChannel" class="custom-select custom-select-sm">
                            <option value="" selected>Please Select</option>
                            <option value="SMS">SMS</option>
                            <option value="E-Mail">E-Mail</option>
                        </select>
                        <input id="txtModalResendInformation" type="text" class="form-control text-input"
                            style="margin-top:10px">
                    </div>
                </div>
                <input type="hidden" id="hModalResendDocHistoryId" />

            </div>
            <div class="modal-footer">
                <button id="btnModalResendOK" class="btn btn-primary">OK</button>
                <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReply" tabindex="-1" role="dialog" aria-labelledby="modalReplyTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalReplyLongTitle">
                    <ion-icon style="margin-bottom:-3px" name="information-circle-outline"></ion-icon>
                    Select Send Method
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label style="padding-left:30px;font-size:15px" class="text-primary label-text">Please select send
                    method.</label>
                <div class="row" style="padding: 10px 30px 10px 30px">
                    <div class="col col-4">
                        <input type="radio" name="radioSend" value="send" checked>
                        <label class="text-primary label-text">Send Now to</label>
                    </div>
                    <div class="col">
                        <select id="ddlSendNowTo" class="custom-select custom-select-sm">
                            @* <option value="" selected>Please Select</option> *@
                            <option value="Agent" selected>Agent</option>
                            <option value="Customer">Customer</option>
                            <option value="Service Agent">Service Agent</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="padding: 0px 30px 0px 30px">
                    <div class="col col-4">
                        <input type="radio" name="radioSend" value="don_send">
                        <label class="text-primary label-text">Don't send</label>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button id="btnModalReplyOK" class="btn btn-primary">OK</button>
                <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddItem" tabindex="-1" role="dialog" aria-labelledby="modalAddItemTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Memo List Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-right">
                    <a id="btnModalAdd" class="btn text-primary label-text"
                        style="margin:10px;font-size:16px;cursor:pointer">
                        <ion-icon style="margin-bottom:-2px;color:green" name="add-outline"></ion-icon>Add Item
                    </a>
                    <a id="btnModalSearch" class="btn text-primary label-text"
                        style="margin:10px;font-size:16px;cursor:pointer">
                        <ion-icon style="margin-bottom:-2px;color:green" name="search-circle-outline"></ion-icon>Search
                    </a>
                    <a id="btnModalReset" class="btn text-primary label-text"
                        style="margin:10px;font-size:16px;cursor:pointer">
                        <ion-icon style="margin-bottom:-2px;color:green" name="repeat-outline"></ion-icon>Reset
                    </a>

                    <a class="btn text-primary label-text" style="margin:10px;font-size:16px;cursor:pointer"
                        data-dismiss="modal">
                        <ion-icon style="margin-bottom:-2px;margin-right:2px;color:red" name="close-circle-outline">
                        </ion-icon>
                        Close
                    </a>
                </div>
                <div class="row">
                    <div class="col d-flex flex-column text-primary label-text">
                        <p>Memo Type</p>
                        <select class="custom-select custom-select-sm" id="ddlMemoType">
                            <option value="1" selected="">Please Select</option>
                        </select>
                    </div>
                    @*<div class="col-md-2">

                        <select class="custom-select custom-select-sm">
                        <option value="1" selected="">Please Select</option>
                        <option value="1">MED</option>
                        <option value="1">ASP</option>
                        <option value="1">ASP</option>
                        <option value="1">BLOOD</option>
                        <option value="1">APP</option>
                        </select>
                        </div>*@
                    <div class="col d-flex flex-column text-primary label-text">
                        <p>Memo Code</p>
                        <select class="custom-select custom-select-sm" id="ddlMemoCode">
                            <option></option>
                        </select>
                    </div>
                    @*<div class="col-md-3" style="align-self:flex-end">

                        <div style="width:245px" class="input-group">
                        <input type="text" class="form-control text-input">
                        <div class="input-group-append text-input">
                        <span class="input-group-text">...</span>
                        </div>
                        </div>
                        </div>*@
                    <div class="col-md-12">


                        <br /><br />
                        <table class="table table-hover " id="tableMemoList" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/jspage/Inquiry-information.js"></script>