﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>eMemo</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/Login-Form-Dark.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        #blocker {
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
            background-color: #000;
            z-index: 1000;
            overflow: auto;
        }

            #blocker div {
                position: absolute;
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                border-top: 16px solid #3498db;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
            }

        /* Safari */
        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div id="blocker">
        <div></div>
    </div>
    <section class="login-dark">
        <form style="max-width:420px;border-radius:20px">
            <h2 style="font-size: 24px; text-align: center; color: #6B9863">eMemo System Login</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline text-danger"></i></div>
            <div class="mb-3">
                <input id="Username" autocomplete="off" type="text" style="background:white;border: solid; border-color: #C6C6C6;border-radius:15px" class="form-control text-dark" placeholder="Username" />
            </div>
            <div class="mb-3">
                <input id="password" style="background: white;border: solid; border-color: #C6C6C6; border-radius: 15px" 
                       class="form-control text-dark" type="password" placeholder="Password" />
            </div>
            <div style="display:flex;align-items:center;justify-content: center;">
                <a href="/eMemo/Home/Index" type="button" style="color:black;font-weight:bold; margin-right: 10px; background-color: #ABAFDD" class="btn btn-secondary">Login</a>
                <button type="reset" style="color: black; font-weight: bold; background-color: #ABAFDD" class="btn btn-secondary btnConfirmModal">Clear</button>
            </div>
        </form>
    </section>
</body>
</html>